
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mb-0">Languages</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">  
<form class="example-form">
    <div class="modalname">
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name">
    </mat-form-field> -->
</div>  

<div class="modallanguage">
<label for="fname">Select Language</label><br>
<select name="cars" id="cars" class="form-control width">
    <option value="Abkhaz">Abkhaz</option>
    <option value="Afar">Afar</option>
    <option value="Afrikaans">Afrikaans</option>
    <option value="Akan">Akan</option>
    <option value="Albanian">Albanian</option>
    <option value="Amharic">Amharic</option>
    <option value="Arabic">Arabic</option>
    <option value="Aragonese">Aragonese</option>
    <option value="armenian">armenian</option>
    <option value="Assamese">Assamese</option>
    <option value="Akkadian">Akkadian</option>
    <option value="American Sign Language">American Sign Language</option>
    <option value="Avaric">Avaric</option>
    <option value="Avestan">Avestan</option>
    <option value="Ancient Greek">Ancient Greek</option>
    <option value="Aymara">Aymara</option>
    <option value="Azerbaijani">Azerbaijani</option>
    <option value="Bambara">Bambara</option>
    <option value="Bashkir">Bashkir</option>
    <option value="Basque">Basque</option>
    <option value="Belarusian">Belarusian</option>
    <option value="Bengali">Bengali</option>
    <option value="Bihari">Bihari</option>
    <option value="Bislama">Bislama</option>
    <option value="Bosnian">Bosnian</option>
    <option value="Breton">Breton</option>
    <option value="Bulgarian">Bulgarian</option>
    <option value="Berber">Berber</option>
    <option value="Catalan">Catalan</option>
    <option value="Chamorro">Chamorro</option>
    <option value="Chechen">Chechen</option>
    <option value="Chichewa">Chichewa</option>
    <option value="Mandarin">Mandarin</option>
    <option value="Cantonese">Cantonese</option>
    <option value="Chuvash">Chuvash</option>
    <option value="Cornish">Cornish</option>
    <option value="Corsican">Corsican</option>
    <option value="Cebuano">Cebuano</option>
    <option value="Cherokee">Cherokee</option>
    <option value="Creole">Creole</option>
    <option value="Cree">Cree</option>
    <option value="Croatian">Croatian</option>
    <option value="Czech">Czech</option>
    <option value="Danish">Danish</option>
    <option value="Maldivian">Maldivian</option>
    <option value="Dutch">Dutch</option>
    <option value="English">English</option>
    <option value="Esperanto">Esperanto</option>
    <option value="Estonian">Estonian</option>
    <option value="Ewe">Ewe</option>
    <option value="Faroese">Faroese</option>
    <option value="Fijian">Fijian</option>
    <option value="Finnish">Finnish</option>
    <option value="French">French</option>
    <option value="Fula">Fula</option>
    <option value="Galician">Galician</option>
    <option value="Georgian">Georgian</option>
    <option value="German">German</option>
    <option value="Greek">Greek</option>
    <option value="Guaraní">Guaraní</option>
    <option value="Gujarati">Gujarati</option>
    <option value="Haitian">Haitian</option>
    <option value="Hausa">Hausa</option>
    <option value="Hebrew">Hebrew</option>
    <option value="Herero">Herero</option>
    <option value="Hindi">Hindi</option>
    <option value="Hiri Motu">Hiri Motu</option>
    <option value="Hungarian">Hungarian</option>
    <option value="Interlingua">Interlingua</option>
    <option value="Indonesian">Indonesian</option>
    <option value="Interlingue">Interlingue</option>
    <option value="Irish">Irish</option>
    <option value="Igbo">Igbo</option>
    <option value="Inupiaq">Inupiaq</option>
    <option value="Irish Gaelic">Irish Gaelic</option>
    <option value="Ido">Ido</option>
    <option value="Icelandic">Icelandic</option>
    <option value="Italian">Italian</option>
    <option value="Inuktitut">Inuktitut</option>
    <option value="Japanese">Japanese</option>
    <option value="Javanese">Javanese</option>
    <option value="Greenlandic">Greenlandic</option>
    <option value="Kanuri">Kanuri</option>
    <option value="Kashmiri">Kashmiri</option>
    <option value="Kazakh">Kazakh</option>
    <option value="Khmer">Khmer</option>
    <option value="Kikuyu">Kikuyu</option>
    <option value="Kinyarwanda">Kinyarwanda</option>
    <option value="Kirghiz">Kirghiz</option>
    <option value="Komi">Komi</option>
    <option value="Kongo">Kongo</option>
    <option value="Korean">Korean</option>
    <option value="Kurdish">Kurdish</option>
    <option value="Kwanyama">Kwanyama</option>
    <option value="Latin">Latin</option>
    <option value="Luxembourgish">Luxembourgish</option>
    <option value="Luganda">Luganda</option>
    <option value="Limburgish">Limburgish</option>
    <option value="Lingala">Lingala</option>
    <option value="Lao">Lao</option>
    <option value="Lithuanian">Lithuanian</option>
    <!-- <option>Luba-Katanga</option>
    <option>Luba-Katanga</option>
    <option>Manx</option>
    <option>Macedonian</option>
    <option>Malagasy</option>
    <option>Malay</option>
    <option>Malayalam</option>
    <option>Maltese</option>
    <option>Māori</option>
    <option>Marathi</option>
    <option>Marshallese</option>
    <option>Mongolian</option>
    <option>Nauru</option>
    <option>Navajo</option>
    <option>Norwegian Bokmål</option>
    <option>North Ndebele</option>
    <option>Nepali</option>
    <option>Neapolitan</option>
    <option>Ndonga</option>
    <option>Norwegian Nynorsk</option>
    <option>Norwegian</option>
    <option>Nuosu</option>
    <option>Occitan</option>
    <option>Ojibwa</option>
    <option>Old English</option>
    <option>Old Bulgarian</option>
    <option>Oromo</option>
    <option>Oriya</option>
    <option>Ossetian</option>
    <option>Punjabi</option>
    <option>Pāli</option>
    <option>Persian</option>
    <option>Pinyin</option>
    <option>Polish</option>
    <option>Pashto</option> -->
    <option value="Portuguese">Portuguese</option>  
    <!-- <option>Papiamento</option>
    <option>Portuguese (Brazilian)</option>
    <option>Quechua</option>
    <option>Romansh</option>
    <option>Kirundi</option>
    <option>Romanian</option>
    <option>Russian</option>
    <option>Sanskrit</option>
    <option>Sardinian</option>
    <option>Sindhi</option>
    <option>Northern Sami</option>
    <option>Samoan</option>
    <option>Sango</option>
    <option>Serbian</option>
    <option>Shona</option>
    <option>Sinhala</option>
    <option>Slovak</option>
    <option>Slovene</option>
    <option>Somali</option>
    <option>Southern Sotho</option> -->
    <option value="Spanish">Spanish</option>
    <!-- <option>Sundanese</option>
    <option>Sicilian</option>
    <option>Swahili</option>
    <option>South Ndebele</option>
    <option>Swati</option>
    <option>Swedish</option>
    <option>Tamil</option>
    <option>Telugu</option>
    <option>Tajik</option>
    <option>Thai</option>
    <option>Tigrinya</option>
    <option>Tibetan Standard</option>
    <option>Turkmen</option>
    <option>Tagalog</option>
    <option>Tswana</option>
    <option>Tonga</option>
    <option>Turkish</option>
    <option>Tsonga</option>
    <option>Tatar</option>
    <option>Twi</option>
    <option>Tahitian</option>
    <option>Uighur</option>
    <option>Ukrainian</option>
    <option>Urdu</option>
    <option>Uzbek</option>
    <option>Venda</option>
    <option>Vietnamese</option>
    <option>Volapük</option>
    <option>Walloon</option>
    <option>Welsh</option>
    <option>Wolof</option>
    <option>Western Frisian</option>
    <option>Xhosa</option>
    <option>Yiddish</option>
    <option>Yoruba</option>
    <option>Zhuang</option>
    <option>Zhuang</option>
    <option>Zulu</option> -->
  </select>
</div>
  
<div class="modalback mt-3">
  <label for="fname">Proficiency</label><br>
<select name="cars" id="cars" class="form-control width">
    <option value="Total Beginner">Total Beginner</option>
    <option value="Beginner">Beginner</option>
    <option value="Upper Beginner">Upper Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Upper Intermediate">Upper Intermediate</option>
    <option value="Advanced">Advanced</option>
    <option value="Upper Advanced">Upper Advanced</option>
    <option value="Native">Native</option>
    
  </select>
</div>

<!-- <div class="modalchack">
  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description"></textarea>
  </mat-form-field>
  </div> -->
</form>
        </div>
            <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-primary">Cancel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Add Language</button>
        </div>
      </div>
  
