<div class="mainLayout mt-5 mb-5">
    <div class="container">
        <div class="layout">
            <p class="text mb-1" [innerHTML]='content.description'></p>
            <!-- <h2 class="text mb-1">Welcome to our website</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h2 class="text mb-1">License</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h2 class="text mb-1">Content</h2>
            <p class="maxRow">I may employ third-party companies and individuals due to the following reasons:</p>
            <h2 class="text mb-1">Reservation of Rights</h2>
            <p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at babarusi.cristian@gmail.com.</p> -->
        </div>
    </div>
</div>
