
<div class="top">
<h2 mat-dialog-title>Equipment check</h2></div>
<hr />
<mat-dialog-content class="mat-typography">
        <div class="main">
            <div class="row">
                <div class="col-md-12">
                    <div class="layout">
                        <p class="mb-0">Browser Check</p>
                            <h1>Browser Compatible: Chrome 97.0</h1>

                            <p class="mb-0"> Server Connectivity</p>
                                <h1>Connectivity working.</h1>

                                <h3>Internet Speed</h3>

                    <div class="button">
                        <button mat-raised-button>Start Speed Test</button>
                         </div>
                         <h3>Internet Speed</h3>

                         <div class="button">
                             <button mat-raised-button>Setup Audio/Video</button>
                              </div>
                    </div>
                </div>
            </div>
        </div>

</mat-dialog-content>
 