.top h2 {
    font-size: 30px;
    font-weight: 600;
}

.layout p {
    font-size: 16px;
    font-weight: 500;
    color: #4caf50;
}

.layout h1 {
    font-size: 18px;
    color: #838789;
}

.layout h3 {
    font-size: 16px;
    color: #666e7e;
    font-weight: 500;
}

.button button {
    background: #0699cd;
    color: #fff;
}

.button {
    text-align: center;
}