<div class="text-center top-align">
    <img src="assets/img/user.png" *ngIf="!Teacherdata.teacherData.image" alt="" class="trail-img">
    <img src="{{_host}}{{Teacherdata.teacherData.image}}" *ngIf="Teacherdata.teacherData.image" alt="" class="trail-img">
    <h4 class="mb-1" *ngIf="Teacherdata.key=='free'">45-Minute Free Consultation</h4>
    <h4 class="mb-1" *ngIf="Teacherdata.key=='paid'">45-Minute Paid Lesson</h4>
    <h4><b>Select a time</b></h4>
</div>

<div class="panel-large-body-padding shadow bg-white mt-3 pt-2 pb-3" style="  height: 25rem;
overflow: auto;">

<ejs-schedule #schedule height="500px" ref="ScheduleObj" [(selectedDate)]="selectedDate"
    (actionComplete)="onActionComplete($event)" (popupOpen)="onPopupOpen($event)"
    [rowAutoHeight]="rowAutoHeight" [eventSettings]="eventSettings" currentView="Week">
    <e-views>
        <e-view option="Day"></e-view>
        <e-view option="Week" id="monthClickid"></e-view>
        <e-view option="Month"></e-view>


    </e-views>
    <!-- <ejs-tooltip id='tooltip' content='Tooltip content' target="#target">
        <button ejs-button id="target">Show Tooltip</button> -->
        <!-- <button ejs-button id="target">Show Tooltip</button> -->

        <!-- <ejs-tooltip id='tooltip' content='Tooltip content' target="#target">
       
       
        </ejs-tooltip>

        
    <ng-template #eventSettingsTooltipTemplate let-data>
       

         
            <div class="tooltip-wrap ">
                <div class="barpage pt-3 pl-3 pr-3 d-flex align-items-center">
                    <div class="imgdiv pb-3">
                            <img src="http://c.files.bbci.co.uk/C870/production/_112921315_gettyimages-876284806.jpg">
                        </div >
                         <h1 class="pb-3 ml-2 my-auto">dasdas</h1>
                    </div>
                    <div class="textmain pl-3 pr-3 pb-3 pt-4">
                        <p class="mb-0"><span class="daterow">Date:</span>Fri, April 8, 2022</p>
                        <p class="mt-3"><span class="daterow">Time:</span>11:30-12:00</p>
                        <button mat-raised-button color="primary" class="w-100">Primary</button>
                    
                    </div>
                </div>  

    </ng-template> -->
<!-- </ejs-tooltip> -->

<ng-template #eventSettingsTemplate let-data>
    <div>
      <div class="time" >
        {{data.StartTime | date: 'medium'}}
      </div>
    </div>

  </ng-template>
</ejs-schedule>
</div>