<footer class="pt-5 pb-5">
    <div class="container">
        <div class="row mb-5">
            <!-- <div class="col-md-12 mb-4">
                <div class="row">
                <div class="col-md-3">
                    <h2>Display Language</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>  Display Language</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1"> English</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-3">
                    <h2>Currency</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>  Currency</mat-label>
                        <mat-select disableRipple>
                          <mat-option value="1"> AFN(Afgani Afgani)</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            </div> -->
            <div class="col-md-3">
                <div class="foot_list">
                <h2>UROKI LIVE</h2>
                <ul>
                    <li><a href="#">Apply to Teach</a></li>
                    <li><a href="#">Articles</a></li>
                    <li><a href="#">Discussions</a></li>
                    <li><a href="#" routerLink="blog/listing">Blog</a></li>

                </ul>
            </div>
            </div>
            <div class="col-md-3">
                <div class="foot_list">
                    <h2>Teachers & Tutors</h2>
                    <ul>
                        <li><a href="#">English Tutors</a></li>
                        <li><a href="#">Spanish Tutors</a></li>
                        <li><a href="#">German Tutors</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foot_list">
                    <h2>Languages</h2>
                    <ul>
                        <li><a href="#">Engliash language</a></li>
                        <li><a href="#">Spanish Language</a></li>
                        <li><a href="#">German language</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="foot_list social_links">
                    <h2>Social</h2>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright d-flex justify-content-between flex-wrap">
<p class="mb-0">Copyright 2022 UROKI LIVE

    all right reserved.</p>
    <ul class="policy">
        <li><a routerLink="content/privacy-policies" routerLinkActive="active">Privacy Policy</a></li>
        <li><a routerLink="content/terms-conditions" routerLinkActive="active">Terms and Condition</a></li>
        <li><a routerLink="content/help">Help</a></li>
    </ul>
        </div>
    </div>
</footer>