<ngx-spinner></ngx-spinner>

<section class="schedule">
        <div class="d-flex h-100">
            <div class="left-schedule flex-grow-1 h-100">
                <div class="bg-image d-flex h-100 align-items-center justify-content-center" style="background-image: url('https://images.verbling.com/convert/e_blur:3/https%3A%2F%2Fverbling-user-uploads.s3.amazonaws.com%2F47001953842898524633%2Fa30c29e5-8a93-423b-a977-af8df6bf2c19%2FA1BA103F-8949-4CAF-83B4-93AED19F58DD.JPG');">
                    <div class="prodile-banner">
                        <img src="https://images.verbling.com/convert/c_cover,h_150,w_150/https%3A%2F%2Fverbling-user-uploads.s3.amazonaws.com%2F47001953842898524633%2Fa30c29e5-8a93-423b-a977-af8df6bf2c19%2FA1BA103F-8949-4CAF-83B4-93AED19F58DD.JPG" alt="">
                        <p>This lesson is scheduled.</p>
                        <div class="time">
                            <span>01</span><span class="light">d</span><span>02</span><span class="light">h</span><span>45</span><span class="light">m</span><span>40</span><span class="light">s</span>
                        </div>
                        <div class="join">
                            <button mat-button>Create deck</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-schedule">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                          <i class="fa fa-info-circle"></i>
                          
                        </ng-template>
                     <div class="schedule_bg" style="background-image: url('https://cdn.verbling.com/static/img/c0a5b4c24554705635d8a86c8cefb7c3.bg-waves.svg');">
                        <div class="d-flex flex-column justify-content-end">
                            <div class="text-large text-bold">
                                <span class="" >Scheduled</span>
                            </div>
                            <div class="text-xxlarge text-bold text-white">
                                <span>8:00 PM</span>
                            </div>
                            <div class="text-bold text-large text-white">
                                <span>Wednesday</span>, <span>April 20, 2022</span>
                            </div>
                            <div class="text-white text-bold text-small">Christine, <span>English</span>, 30-Minute Trial Lesson</div>
                        </div>
                     </div>

                     <div class="lesson_details">
                        <mat-tab-group mat-align-tabs="start">
                            <mat-tab label="Lesson">
                                <div class="d-flex flex-column p-3">
                                    <label>Actions</label>
                                    <button type="button" class="btn-lesson-action btn btn-default btn-block mt-2">
                                        <div class="d-flex align-items-center">
                                            <img width="30px" height="30px" alt="" src="https://cdn.verbling.com/static/svg/icons8/47bc8a1f4eeadfae8a3667d21aa4d45d.icons8-date_from.svg" class="margin-right-md mr-2" 
                                            > Reschedule
                                        </div>
                                    </button>
                                </div>
                            </mat-tab>
                            <mat-tab label="Details">
                                <div class="p-3">
                                    <div class="inner_details d-flex justify-content-start flex-row">
                                        <div class="main_profile">
                                        <div class="profile">
                                            <img src="https://images.verbling.com/convert/c_cover,h_150,w_150/https%3A%2F%2Fverbling-user-uploads.s3.amazonaws.com%2F47001953842898524633%2Fa30c29e5-8a93-423b-a977-af8df6bf2c19%2FA1BA103F-8949-4CAF-83B4-93AED19F58DD.JPG" alt="">
                                            <span class="green_dot"></span>
                                        </div>
                                        <p class="text-large">Christine</p>
                                    </div>
                                    <div class="main_profile">
                                        <div class="profile">
                                            <img src="https://images.verbling.com/convert/c_cover,h_150,w_150/https%3A%2F%2Fui-avatars.com%2Fapi%2F%3Fname%3DJC%26background%3De314d6%26size%3D600%26color%3Dffffff" alt="">
                                            <span class="green_dot"></span>
                                        </div>
                                        <p class="text-large">Christine</p>
                                        </div>
                                    </div>
                                    <div class="deta mt-3">
                                        <p><strong>Purchase Date</strong></p>
                                        <p class="font-large">April 19, 2022 1:35 PM</p>
                                        <p><strong>Expires</strong></p>
                                        <p class="font-large">October 16, 2022 1:35 PM</p>
                                    </div>
                                </div>
                            </mat-tab>
                          </mat-tab-group>
                     </div>

                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                         <i class="fa fa-comments-o"></i>
                        </ng-template>
                        Content 2
                      </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
</section>