@font-face {
    font-family: font1;
    font-weight: 700;
    src: url('../font/inner_fonts/IBMPlexSansArabic-SemiBold.ttf');
    
}
@font-face {
    font-family: font1;
    font-weight: 600;
    src: url('../font/inner_fonts/IBMPlexSansArabic-Bold.ttf');
    
}
@font-face {
    font-family: font1;
    font-weight: 300;
    font-style: italic;
    src: url('../font/inner_fonts/IBMPlexSansArabic-Light.ttf');
}

@font-face {
    font-family: font1;
    font-weight: 400;
    src: url('../font/inner_fonts/IBMPlexSansArabic-Regular.ttf');
}

@font-face {
    font-family: font1;
    font-weight: 500;
    src: url('../font/inner_fonts/IBMPlexSansArabic-Medium.ttf');
}

