<ngx-spinner >
   
</ngx-spinner>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-9">
            <div class="AppForm shadow-lg">
                <div class="row">
                    <div class="col-md-6 p-5">
                        <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
                        <div class="AppFormLeft">

                            <h1 class="mb-4">Reset Password</h1>
                            <div class="form-group mb-4">
                            <div class="position-relative">
                                <mat-form-field appearance="outline">
                                    <input type="text" formControlName="code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }"  matInput placeholder="Code" >
                                    <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                        <div *ngIf="f.code.errors.required">Code is required</div>
                                    </div>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="position-relative">
                                    <mat-form-field appearance="outline">
                                        <input [type]="newPassTextType ? 'text' : 'password'" formControlName="newPassword" name="newPassword"
                                        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"  matInput placeholder="New Password" >
                                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.newPassword.errors.required">Password is required</div>
                                            <div *ngIf="f.newPassword.errors.minlength">
                                                Password must be at least 5 characters long.
                                            </div>
                                        </div>
                                        <span class="fa" [ngClass]="{
                                    'fa-eye-slash': !newPassTextType,
                                    'fa-eye': newPassTextType
                                  }" (click)="toggleNewPassword()"></span> 
                                    </mat-form-field>
                                      
                                  </div> 
                                </div>
                                <div class="form-group mb-4"> 
                                    <div class="position-relative">
                                        <mat-form-field appearance="outline">
                                            <input [type]="cnfmPassTextType ? 'text' : 'password'" formControlName="confirmPassword" name="confirmPassword"
                                            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"  matInput placeholder="Confirm Password" >
                                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                                <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                                                <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password.
                                                </div>
                                            </div>
                                            <span class="fa" [ngClass]="{
                                        'fa-eye-slash': !cnfmPassTextType,
                                        'fa-eye': cnfmPassTextType
                                      }" (click)="toggleCnfmPassword()"></span> 
                                        </mat-form-field> 
                                <!-- <span class="fa" [ngClass]="{
                          'fa-eye-slash': !passwordType,
                          'fa-eye': passwordType
                        }" (click)="togglePassword()"></span> -->
                                </div>
                                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>  --> 

                            </div>  
                            <div class="d-flex pt-2">
                                <button class="btn btn-success shadow border-0 py-2 text-uppercase w-auto mr-2" [routerLink]="['/auth/login']">
                                    Cancel
                                </button>
                                <button class="btn btn-success shadow border-0 py-2 text-uppercase w-auto">
                                    Send
                                </button>
                            </div>
                            </div>
                          
                            </form>
                        </div>

                 
                    <div class="col-md-6">
                        <div class="AppFormRight position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                            <h2 class="position-relative px-4 pb-3 mb-4">Welcome</h2>
                            <p>Lorem ipsuing elit. Molomos totam est voluptatum i omos totam est voluptatum i ure sit consectetur ill</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            </div>

        
    </div>