<div class="mainLayout mt-5 mb-5">
    <div class="container">
        <div class="layout">
            <h1 class="rowLayout text-center">Privacy Policy</h1>
            <p class="text mb-1" [innerHTML]='content.description'></p>
            <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <h2 class="text mb-1">Log Data</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h2 class="text mb-1">Service Providers</h2>
            <p class="maxRow mb-0">I may employ third-party companies and individuals due to the following reasons:</p>
            <p class="maxRow mb-0">To facilitate our Service;</p>
            <p class="maxRow mb-0">To provide the Service on our behalf;</p>
            <p class="maxRow mb-0">To perform Service-related services; or</p>
            <p class="maxRow">To assist us in analyzing how our Service is used.</p>
            <h2 class="text mb-1">Contact Us</h2>
            <p>If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at babarusi.cristian@gmail.com.</p> -->
        </div>
    </div>
</div>
