@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-RegularItalic.eot');
    src: local('MB Grotesk Regular Italic'), local('MBGrotesk-RegularItalic'),
        url('MBGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-RegularItalic.woff2') format('woff2'),
        url('MBGrotesk-RegularItalic.woff') format('woff'),
        url('MBGrotesk-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-Regular.eot');
    src: local('MB Grotesk Regular'), local('MBGrotesk-Regular'),
        url('MBGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-Regular.woff2') format('woff2'),
        url('MBGrotesk-Regular.woff') format('woff'),
        url('MBGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-Light.eot');
    src: local('MB Grotesk Light'), local('MBGrotesk-Light'),
        url('MBGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-Light.woff2') format('woff2'),
        url('MBGrotesk-Light.woff') format('woff'),
        url('MBGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-MediumItalic.eot');
    src: local('MB Grotesk Medium Italic'), local('MBGrotesk-MediumItalic'),
        url('MBGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-MediumItalic.woff2') format('woff2'),
        url('MBGrotesk-MediumItalic.woff') format('woff'),
        url('MBGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-LightItalic.eot');
    src: local('MB Grotesk Light Italic'), local('MBGrotesk-LightItalic'),
        url('MBGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-LightItalic.woff2') format('woff2'),
        url('MBGrotesk-LightItalic.woff') format('woff'),
        url('MBGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-BoldItalic.eot');
    src: local('MB Grotesk Bold Italic'), local('MBGrotesk-BoldItalic'),
        url('MBGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-BoldItalic.woff2') format('woff2'),
        url('MBGrotesk-BoldItalic.woff') format('woff'),
        url('MBGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-ExtraLight.eot');
    src: local('MB Grotesk ExtraLight'), local('MBGrotesk-ExtraLight'),
        url('MBGrotesk-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-ExtraLight.woff2') format('woff2'),
        url('MBGrotesk-ExtraLight.woff') format('woff'),
        url('MBGrotesk-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-Bold.eot');
    src: local('MB Grotesk Bold'), local('MBGrotesk-Bold'),
        url('MBGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-Bold.woff2') format('woff2'),
        url('MBGrotesk-Bold.woff') format('woff'),
        url('MBGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-ExtraLightItalic.eot');
    src: local('MB Grotesk ExtraLight Italic'), local('MBGrotesk-ExtraLightItalic'),
        url('MBGrotesk-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-ExtraLightItalic.woff2') format('woff2'),
        url('MBGrotesk-ExtraLightItalic.woff') format('woff'),
        url('MBGrotesk-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-Normal.eot');
    src: local('MB Grotesk Normal'), local('MBGrotesk-Normal'),
        url('MBGrotesk-Normal.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-Normal.woff2') format('woff2'),
        url('MBGrotesk-Normal.woff') format('woff'),
        url('MBGrotesk-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-NormalItalic.eot');
    src: local('MB Grotesk Normal Italic'), local('MBGrotesk-NormalItalic'),
        url('MBGrotesk-NormalItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-NormalItalic.woff2') format('woff2'),
        url('MBGrotesk-NormalItalic.woff') format('woff'),
        url('MBGrotesk-NormalItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-Medium.eot');
    src: local('MB Grotesk Medium'), local('MBGrotesk-Medium'),
        url('MBGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-Medium.woff2') format('woff2'),
        url('MBGrotesk-Medium.woff') format('woff'),
        url('MBGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-ExtraBoldItalic.eot');
    src: local('MB Grotesk ExtraBold Italic'), local('MBGrotesk-ExtraBoldItalic'),
        url('MBGrotesk-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-ExtraBoldItalic.woff2') format('woff2'),
        url('MBGrotesk-ExtraBoldItalic.woff') format('woff'),
        url('MBGrotesk-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'MB Grotesk';
    src: url('MBGrotesk-ExtraBold.eot');
    src: local('MB Grotesk ExtraBold'), local('MBGrotesk-ExtraBold'),
        url('MBGrotesk-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MBGrotesk-ExtraBold.woff2') format('woff2'),
        url('MBGrotesk-ExtraBold.woff') format('woff'),
        url('MBGrotesk-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

