


 
.rightpage img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
 

.flexpage img {
    width: 33px;
    object-fit: contain;
    position: relative;
    bottom: 5px;
    margin-left: 10px;
}
.btn.btn-primary.w-100.text-center {
    justify-content:center;
    display: flex;
    align-items: center;
  }
h1.topline {
    font-size: 30px;
    font-weight: 600;
}

.lessonpage h1 {
    font-size: 28px;
    font-weight: 600;
}
.lessonpage {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
  }

.leftpage2 h1 {
    font-size: 18px;
    font-weight: 500;
}

.leftside p {
    font-size: 14px;
}
hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.flexpage p {
    font-size: 14px;
}

.rightside p {
    font-size: 14px;
}

.rightside h4 {
    font-size: 15px;
    font-weight: 500;
}

.buttonbox{
    position: relative;
    background: #e41091;
    padding: 15px 0px;
    border-radius: 5px;
}

.buttonbox a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.buttonbox i {
    position: absolute;
    left: 20px;
    top: 11px;
    font-size: 25px;
    color: #fff;
}
img.social {
    width: 35px;
    margin: 2px;
  }
.menepage {
    background: #dcdcdc57;
    height: auto;
    padding-bottom: 3rem;
}

.leftdiv1 {
    background: #fff; 
    border-radius: 10px;
}

.leftdiv2 {
    background: #fff; 
    border-radius: 10px;
}

.leftdiv2 {
    margin-top: 25px;
}

.rightdiv2 {
    background: #fff;
    padding: 9px 10px;
    border-radius: 10px;
    margin-top: 72px;
}

.kaypage {
    margin-top: 35px;
}

.rightpage {
    position: relative;
}

.rightpage img {
    position: absolute;
    left: 43%;
    top: 10px;
}

.leftside input {
    margin-right: 5px;
}

.leftpage2 input {
    margin-right: 5px;
}

.imgimg img {
    width: 12%;
}

span.save22 {
    color: #069206;
}

span.rec {
    color: #fc0303;
}

span.app {
    color: #00adff;
}

span.freeapp {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 0px 3px;
    border-radius: 20px;
    font-size: 9px;
    margin-left: 2px;
}

.kaypage p {
    font-weight: 700;
}

.imgsrc img {
    width: 20%;
}

.imgsrc {
    text-align: center;
}





