<div class="flex flex-align-center iamge">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">

            </div>

            <div class="col-12 col-md-6 incls">
                <div class="extra-panel-padding text-left panel panel-default">
                    <div class="panel-body mt-5">
                        <h1 class="no-margin-bottom">Make your team multilingual.</h1>
                        <p class="text-large mb-4">The simplest way to set up language lessons for a company.</p>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group--focuser form-group">
                                    <label class="control-label">First Name</label>
                                    <input placeholder="Jane" class="form-control--focuser form-control" />

                                </div>

                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group--focuser form-group">
                                    <label class="control-label">Last Name</label>
                                    <input placeholder="Doe" class="form-control--focuser form-control" />

                                </div>

                            </div>
                        </div>
                        <div class="form-group--focuser form-group">
                            <label class="control-label">Organization name</label>
                            <input placeholder="Verbling" class="form-control--focuser form-control">

                        </div>
                        <div class="form-group--focuser form-group">
                            <label class="control-label">Organization Email </label>
                            <input type="email" placeholder="name@company.com"
                                class="form-control--focuser form-control">

                        </div>
                        <div class="form-group--focuser form-group">
                            <label class="control-label">Phone Number</label>
                            <input type="tel" placeholder="123 456 7986" class="form-control--focuser form-control">

                        </div>
                        <button disabled type="button" class="btn-tall btn btn-default btn-block">Signup</button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main">
                <h1 class="textclass mt-4 mb-4">
                    We help organizations around the world, big and small, to maximize <br>their effectiveness in a
                    <span class="bordercss border-bottom">globalized economy.</span> We can help you, too.
                </h1>
            </div>
        </div>
    </div>
    <div class="row maindivclass mt-5">
        <div class="col-md-4">
            <img src='../../../assets/img/47b80f7910b9c08f29ec6950b79c1ab1.helabs.png' class="brandclass" />
        </div>
        <div class="col-md-4">
            <img src='../../../assets/img/80d36afa6decaf8d330cf466c6e90941.inditex.png' class="brandclass" />
        </div>
        <div class="col-md-4">
            <img src='../../../assets/img/brand3.png' class="brandclass" />
        </div>
    </div>
    <div class="row maindivclass mt-5 mb-5">
        <div class="col-md-4">
            <img src='../../../assets/img/brand4.png' class="brandclass" />
        </div>
        <div class="col-md-4">
            <img src='../../../assets/img/brand5.png' class="brandclass" />
        </div>
        <div class="col-md-4">
            <img src='../../../assets/img/brand7.png' class="brandclass" />
        </div>
    </div>
</div>



<svg style="display:block;background-color:#fff;" viewBox="0 0 1440 120">
    <g id="section-transition-svg">
        <polygon fill="#f2f2f2" points="1440 0 1440 120 0 120 0 120"></polygon>
    </g>
</svg>
<div class="bg_class">
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-12 text-center mt-4">
                <h1 class="txtcls">Why Choose Verbling?</h1>

            </div>



            <div class="col-md-4">
                <h1 class="txtcls">
                    Professional teachers
                </h1>
                <img src="../../../assets/img/teacher.svg" class="teacher" />
                <p class="paraclss">Choose from thousands of native-speaking <br>professional teachers, available 24/7.
                </p>
            </div>
            <div class="col-md-4">
                <h1 class="txtcls">Integrated platform</h1>
                <img src="../../../assets/img/Integrated.svg" class="teacher" />
                <p class="paraclss">Schedule your lessons and meet with your <br>teacher, all within your browser
                    window.</p>
            </div>
            <div class="col-md-4">
                <h1 class="txtcls">Language tools</h1>
                <img src="../../../assets/img/Language.svg" class="teacher" />
                <p class="paraclss">Learn with great features such as <br>collaborative textpads, vocabulary review, and
                    more.</p>
            </div>





            <div class="col-md-4">
                <h1 class="txtcls">
                    Multi-device support
                </h1>
                <img src="../../../assets/img/table.svg" class="teacher" />
                <p class="paraclss">Access Verbling on desktop browsers, iOS,<br> and Android— we support it all.</p>
            </div>
            <div class="col-md-4">
                <h1 class="txtcls">Personalized education</h1>
                <img src="../../../assets/img/poineter.svg" class="teacher" />

                <p class="paraclss">Progress through existing courses or ask your <br>teacher to create curriculum for
                    your needs.</p>
            </div>
            <div class="col-md-4">
                <h1 class="txtcls">Easy Administration</h1>
                <img src="../../../assets/img/adminstrtion.svg" class="teacher" />
                <p class="paraclss">No more spreadsheets or coordinating<br> schedules. Easily view statistics and
                    generate <br>reports from
                    your dashboard. Login using<br> SSO. Provisioning via SCIM API.</p>
            </div>

        </div>


    </div>



<div class="row w-100">
    <div class="col-md-8">
        <img src="../../../assets/img/videoImg.jpg" class="videoimg" />
    </div>

    <div class="col-md-4 bg-white">
        <h2 class="txcls mt-3">

            Invite Members
        </h2>

        <h2 class="txcls ">
            Learn!
        </h2>
        <p>Pay for a plan, then let your team schedule and take 1-on-1 language lesson with our professional teachers at their convenience</p>
        <h2 class="txcls ">
            
Track Progress

        </h2>
    </div>
</div>
</div>

<div class="rwclass">
<div class="roww-100">
    <div class="col">

    </div>
    <div class="bbgimg">
       <div class="position-relative text-center txclss "> “Today all global companies need to address the language dilemma head on.”</div>
    
    </div>
    
</div>

<div class="faq_clss ">
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h1 class="Frequently">Frequently Asked Questions</h1>
            <h2 class="Frequently">General</h2>

        </div>
    </div>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What is the difference between Verbling and Verbling for Enterprise?
            </mat-panel-title>
           
          </mat-expansion-panel-header>
          <p>Students learn on the same Verbling platform and have access to the same great Verbling teachers. Verbling for Enterprise is an administrative layer added on top of the standard Verbling platform that allows for easy and powerful administration and analysis of an organization and its members. It allows an organization administrator to maintain an organization’s plan, make payments, invite and manage membership, generate reports, analyze progress, set access controls, and more.</p>
        </mat-expansion-panel>
      
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                What languages can members learn?
            </mat-panel-title>
            
          </mat-expansion-panel-header>
      <p>The following languages are currently supported, in alphabetical order: Afrikaans, Albanian, Arabic, Armenian, Azerbaijani, Basque, Bengali, Berber, Bulgarian, Cantonese, Catalan, Croatian, Czech, Danish, Dutch, English, Finnish, French, German, Greek, Hebrew, Hindi, Hungarian, Icelandic, Igbo, Indonesian, Irish Gaelic, Italian, Japanese, Korean, Kurdish, Latin, Latvian, Malay, Mandarin, Norwegian, Pashto, Persian, Polish, Portuguese, Punjabi, Romanian, Russian, Serbian, Slovak, Spanish, Swahili, Swedish, Tamil, Thai, Turkish, Ukrainian, Urdu, Vietnamese, and Zulu.</p>
         
       
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How does one choose a teacher?
              </mat-panel-title>
              
            </mat-expansion-panel-header>
        <p>One of Verbling’s advantages is the ability for a student to choose a teacher that uniquely suits their needs and personality. To find a teacher, simply log on to Verbling, navigate to the “Find a Teacher” page, and browse the thousands of teachers who teach on Verbling. It’s possible to filter by language, accent, skills, and more so the student can find the right teacher for them.</p>
           
         
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                How good are the teachers on Verbling?
              </mat-panel-title>
              
            </mat-expansion-panel-header>
        <p>All of Verbling’s teachers are accredited with prior professional teaching experience who have passed our extensive application process. Many teachers specialize in certain subjects and can customize the curriculum to a student’s needs.</p>
           
         
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What is the learning experience like?
              </mat-panel-title>
              
            </mat-expansion-panel-header>
        <p>The following languages are currently supported, in alphabetical order: Afrikaans, Albanian, Arabic, Armenian, Azerbaijani, Basque, Bengali, Berber, Bulgarian, Cantonese, Catalan, Croatian, Czech, Danish, Dutch, English, Finnish, French, German, Greek, Hebrew, Hindi, Hungarian, Icelandic, Igbo, Indonesian, Irish Gaelic, Italian, Japanese, Korean, Kurdish, Latin, Latvian, Malay, Mandarin, Norwegian, Pashto, Persian, Polish, Portuguese, Punjabi, Romanian, Russian, Serbian, Slovak, Spanish, Swahili, Swedish, Tamil, Thai, Turkish, Ukrainian, Urdu, Vietnamese, and Zulu.</p>
           
         
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What technical requirements are there to use Verbling? 
              </mat-panel-title>
              
            </mat-expansion-panel-header>
        <p>The following languages are currently supported, in alphabetical order: Afrikaans, Albanian, Arabic, Armenian, Azerbaijani, Basque, Bengali, Berber, Bulgarian, Cantonese, Catalan, Croatian, Czech, Danish, Dutch, English, Finnish, French, German, Greek, Hebrew, Hindi, Hungarian, Icelandic, Igbo, Indonesian, Irish Gaelic, Italian, Japanese, Korean, Kurdish, Latin, Latvian, Malay, Mandarin, Norwegian, Pashto, Persian, Polish, Portuguese, Punjabi, Romanian, Russian, Serbian, Slovak, Spanish, Swahili, Swedish, Tamil, Thai, Turkish, Ukrainian, Urdu, Vietnamese, and Zulu.</p>
           
         
          </mat-expansion-panel>
      </mat-accordion>

      <div class="row p-4">
        <div class="col-md-4 mt-5">
            <div class="d-flex maincls">
            <div class="">
            <img src="../../../assets/img/girl.svg" class="imcls ">
            </div>
            <div>
            <div class="customer">Customer <b>support 24/7</b></div>
        </div>
    </div>

        </div>
        
        
        <div class="col-md-4 mt-5 ">
            <div class="d-flex maincls">
                <div>
            <img src="../../../assets/img/tik.svg" class="imcls">
        </div>
        <div>
            <div class="customer"><b>99.99% uptime</b> in the last year</div>
        </div>
        </div>
    </div>
        <div class="col-md-4 mt-5">
            <div class="d-flex maincls">
                <div>
            <img src="../../../assets/img/lock.svg" class="imcls">
        </div>
        <div>
            <div class="customer">Very serious about <b>privacy and security.</b></div>
        </div>
    </div>
    </div>
    </div>
</div>


</div>

