<div class="banner">
  <section class="sc-kEqXSa dBognp">
 
    <img src="https://cdn.verbling.com/static/svg/10596716118536fdfbecc9164351b56d.hero-background-desktop.svg"
      display="none,,,block" class="sc-iqAclL fJoGkM">
    <img src="https://cdn.verbling.com/static/svg/073615c5106216f6013e7513753a9605.hero-lines-desktop.svg"
      display="none,,,block" height="100%" class="sc-crzoAE eWuFix">

      <div class="container-fluid" style="  padding: 0px 9rem;">
        <div class="row" style="  align-items: center;">
         
          <div class="col-md-7 order-1 order-md-0 ">
            <h1 font-size="xl,,44px" class="h1__H1-git9p2-0 hvMsEH ">{{learnfromhome.title}}</h1>
            <div font-size="md,,lg" class="sc-bdnxRM hWPowz text-sc-1b7rn1-0 jVmeNp mt-4 pb-3" [innerHTML]="learnfromhome.description"></div>
            <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 isnVtY gfuSqG jTPGr mt-4 " [routerLink]="[ '/teachers/list']">
              <a font-size="md,,lg" cursor="pointer" class="sc-bdnxRM hWPowz link__Link-sc-4smq61-0 faCkaC">Try Free Consultation <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
    
              </a>
            </div>
          </div>
          <div class="col-md-5">
            <picture>
             
              <img src="https://cdn.verbling.com/static/img/landing/0c059599c38a3db7d7f5291fa8e67685.hero-desktop.png"
                alt="Student and tutor participating in an online video language lesson" width="228px,,375px,,518px"
                class="sc-jrsJWt licNxS">
            </picture>
          </div>
        </div>
      </div>
    
  </section>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 enGLoS gfuSqG kfcOtH"><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="usa_flag"
            src="https://cdn.verbling.com/static/svg/flags/576c16782be7044d44ba6fe15ae5d00c.usa.svg" positon="relative"
            zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="en">English</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="spain_flag"
            src="https://cdn.verbling.com/static/svg/flags/36938bbe277961386e7e309dcb30cbd8.spain.svg"
            positon="relative" zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="es">Spanish</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="france_flag"
            src="https://cdn.verbling.com/static/svg/flags/968aaa24eeffdd779e4fc9c27c5cb730.france.svg"
            positon="relative" zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="fr">French</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="germany_flag"
            src="https://cdn.verbling.com/static/svg/flags/d810f62137d64a0a58035c80489b7d54.germany.svg"
            positon="relative" zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="de">German</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="china_flag"
            src="https://cdn.verbling.com/static/svg/flags/7f8455b70734a87596991e1f24053edc.china.svg"
            positon="relative" zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="zh">Mandarin</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="brazil_flag"
            src="https://cdn.verbling.com/static/svg/flags/a102e5631626f71ddbc427003063dc0a.brazil.svg"
            positon="relative" zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="pt">Portuguese</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU"> <img width="32,,56px"
            height="32,,56px" alt="italy_flag"
            src="https://cdn.verbling.com/static/svg/flags/612e617f5d72975e63e53d793d757785.italy.svg"
            positon="relative" zindex="20" class="sc-bqGGPW iqRLeF" style="max-width: inherit;">
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;"><span language="it">Italian</span></div>
        </div>
      </a><a class="sc-fFSPTT hHzlUj">
        <div class="sc-bdnxRM sc-gtsrHT flex-wypzvx-0 sc-dIsUp ebiTWW gfuSqG hXDKLS logdsU">
          <div height="32,,56" width="32,,56" class="sc-hBMUJo iBpDnX">
            <div class="sc-bdnxRM ">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>
          <div font-size="sm,,md" color="blueGrey" font-weight="bold" class="sc-bdnxRM cPOaKU text-sc-1b7rn1-0 jVmeNp"
            style="position: relative; z-index: 20;">Other
          </div>
        </div>
      </a>

    </div>

  </div>
  <p class="text-center mt-5">We have teachers in over <b>70 languages!</b></p>
</div>

<div class="container-fluid">
  <div class="row bg ">
    <!-- <div class="bg"> -->
    <div class="col-md-12 text-center">
      <h1>{{content.title}}</h1>
    </div>

    <div class="col-md-4 text-center">
      <img class="workImg"
        src="https://cdn.verbling.com/static/svg/how-it-works/5c22ef2e2297a035448521060a61eeb1.magnifier.svg" alt="">
      <h2>{{tutor.title}}</h2>
      <!-- <p>Choose your ideal teacher from over 10,000 qualified language tutors.</p> -->
      <p [innerHTML]="tutor.description"></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="workImg"
        src="https://cdn.verbling.com/static/svg/how-it-works/8c5bb8356970878dfb159096ee5a60fc.calendar.svg" alt="">
      <h2>{{lessonbook.title}}</h2>
      <!-- <p>Select a lesson time and add it to their calendar.</p> -->
      <p [innerHTML]="lessonbook.description"></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="workImg"
        src="https://cdn.verbling.com/static/svg/how-it-works/d5ee8cd4ffb3b5c559278f0329e571c2.laptop.svg  " alt="">
      <h2>{{startlearning.title}}</h2>
      <!-- <p>Simple as that, you’re learning a language.</p> -->
      <p [innerHTML]="startlearning.description"></p>
    </div>
    <div class="col-md-12 text-center">
      <button class="btn btn-primary fs" [routerLink]="[ '/teachers/list']">Try free consultation<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
    </div>
    <!-- </div> -->
  </div>
</div>

<div class="container mt-5 ">
  <div class="row align">
    <div class="col-md-12   text-center">
      <h1>{{whylearnuroki.title}}</h1>
      <!-- <p>Safe, effective, affordable learning. For language learners just like you.</p>
       -->
       <p [innerHTML]="whylearnuroki.description"></p>
    </div>
    <div class="col-md-6 desk">
      <h1 class="headingTxt">{{verifiedteacher.title}}</h1>
      <!-- <p class="Desc">Our community has over 10,000 expert <br /> tutors – all with prior teaching <br />experience,
        vetted by our team.</p> -->
        <p class="Desc" [innerHTML]="verifiedteacher.description"></p>
    </div>
    <div class="col-md-6 text-center">
      <img class="why" src="assets/img/why.svg" alt="">
    </div>
    <div class="col-md-6 ph d-none">
      <h1 class="headingTxt">Verified teachers</h1>
      <p class="Desc">Our community has over 10,000 expert <br /> tutors – all with prior teaching <br />experience,
        vetted by our team.</p>
    </div>

    <div class="col-md-6 ">
      <img class="why" src="assets/img/why1.svg" alt="">
    </div>
    <div class="col-md-6">
      <h1 class="headingTxt">{{affordablelessons.title}}</h1>
      <!-- <p class="Desc">With lesson prices starting at ₹376.58, <br /> UROKI provides remote language <br>learning to
        fit any budget.</p> -->
        <p class="Desc" [innerHTML]="affordablelessons.description"></p>
    </div>


    <div class="col-md-6 desk">
      <h1 class="headingTxt">{{convenienceflexibility.title}}</h1>
      <!-- <p class="Desc">We make learning happen on your <br />schedule. Book lessons when you want to learn.</p> -->
      <p class="Desc" [innerHTML]="convenienceflexibility.description"></p>
    </div>
    <div class="col-md-6 text-center">
      <img class="why" src="assets/img/why2.svg" alt="">
    </div>
    <div class="col-md-6 ph d-none">
      <h1 class="headingTxt">Convenience & flexibility</h1>
      <p class="Desc">We make learning happen on your <br />schedule. Book lessons when you want to learn.</p>
    </div>

    <div class="col-md-6  ">
      <img class="why" src="assets/img/why3.svg" alt="">
    </div>
    <div class="col-md-6">
      <h1 class="headingTxt">{{learninggoes.title}}</h1>
      <!-- <p class="Desc">With UROKI, all your learning happens in <br /> just one place, on one complete platform,<br />
        wherever you go</p> -->
        <p class="Desc" [innerHTML]="learninggoes.description"></p>
    </div>
  </div>
</div>


  <div class="row slider mx-0" >
    <div class="col-md-12 px-0 ">
      <div class="imgRow mb-5 ">

        <div class="headingclss text-center mb-5 text-white ">
          <h1 class=" tophedding text-white">{{notchteachers.title}}</h1>
          <!-- <p class="paraclass">With over 70 languages, taught by over 10,000 qualified tutors, <br>UROKI has the
            language tutor for you.</p> -->
            <p class="paraclass" [innerHTML]="notchteachers.description"></p>
            
        </div>
        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

          <!--Indicators-->
          <ol class="carousel-indicators ">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>

          </ol>
          <!--/.Indicators-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/cadimg.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>

                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/card2img.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/cadimg.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/card2img.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->

            <div class="carousel-item">

              <div class="col-md-3" style="float:left">

                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/cadimg.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/card2img.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/cadimg.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

              <div class="col-md-3" style="float:left">
                <div class="card mb-2">
                  <img class="card-img-top" src="../../../assets/img/cadimg.jpeg" alt="Card image cap">
                  <div class="card-body">
                    <h1 class="card-title"><b>Learn English</b></h1>
                    <p class="card-text">From <b>AED 18.37 Per hours</b></p>
                  </div>
                </div>
              </div>

            </div>
            <!--/.Second slide-->



          </div>
          <!--/.Slides-->

        </div>
      </div>
      <!--/.Carousel Wrapper-->

      <!-- <img src="https://cdn.verbling.com/static/svg/81cf05f34ad6de87325a76f9518e0b7d.language-carousel-background-desktop.svg"> -->
    </div>
  </div>

<div class="bg-gray-section">
<div class="container pt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="layout text-center mt-5">
        <h1>But don’t just take our word for it</h1>
        <p class="mt-4 mb-4">Check out these reviews from our learners.</p>
        <img src="https://cdn.verbling.com/static/svg/1c7311306a8796e440fc6e36674efdf6.trustpilot-logo.svg">
      </div>
      <div class="imgsrc text-center mt-4">
        <img src="https://images-static.trustpilot.com/api/stars/4.5/star.svg">
      </div>
    </div>
  
<div class="mainCard mt-5 w-100"> 
    <div class="row w-100">
      <div class="col-md-4">
        <div class="rowPage">
          <img src="	https://user-images.trustpilot.com/default/73x73.png">
          <h1 class="mt-3 mb-0">Soy alumno de UROKI, y después de<br> muchos años la informática trabaja a
            <br>nuestro favor ( no se si dirán los mismo <br>los profesores) yo estoy muy sat...</h1>
          <p class="mt-3">José</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rowPage">
          <img src="	https://user-images.trustpilot.com/default/73x73.png">
          <h1 class="mb-0 mt-3">I was having trouble with the settings on <br>the audio on UROKI flashcards. I
            <br>requested support and Milena <br>responded quickly. It was a little trick...</h1>
          <p class="mt-3"> Timothy Davis</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="rowPage">
          <img src="	https://user-images.trustpilot.com/default/73x73.png">
          <h1 class="mb-0 mt-3">UROKI is a fantastic platform. The <br>online classroom feature works very<br>
            smoothly and my tutor provided excellent<br> tuition and materials. I think i...</h1>
          <p class="mt-3">JH
          </p>
        </div>
      </div>
    </div>
 
</div>
</div>
</div>
</div>
<div class="select mt-5 pt-5 text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="selectPage mb-5">
          <h1>{{languagetraining.title}}</h1>
          <p [innerHTML]="languagetraining.description"></p>
          <!-- <p>Learn a language as a team. Try group lessons with UROKI for B2B.</p> -->
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="imgProfile">
          <img src="https://cdn.verbling.com/static/svg/enterprise/1b6abf92da3f5990a8d84408239a6940.dhl.svg">
        </div>
      </div>
      <div class="col-md-3">
        <div class="imgProfile">
          <img src="	https://cdn.verbling.com/static/svg/enterprise/ee06265e348c55e98a5af2fba76914eb.uber.svg">
        </div>
      </div>
      <div class="col-md-3">
        <div class="imgProfile">
          <img src="	https://cdn.verbling.com/static/svg/enterprise/8c97d124619a1018ab140c6c1e196af8.adidas.svg">
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="imgProfile">
          <img src="	https://cdn.verbling.com/static/svg/enterprise/fa9caca1e85b9d6f5c79917bd917932b.puma.svg">
        </div>
      </div>
    </div>
    <div class="button mt-5 mb-5">
      <button class="btn btn-primary">Find out more <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
     
    </div>
  </div>
</div>

<div class="mainPath mt-4">
  <div class="container-fluid ph" style="  padding: 0px 6rem;  padding-left: 13rem;">
    <div class="row">
      <div class="col-md-4 pl-5 pt-4">
        <div class="picRow">
            <h1 class="ph d-none">{{learninguroki.title}}</h1>
          <!-- <h1 class="desk">Start learning<br> today with<br> UROKI</h1> -->
          <h1 class="desk" [innerHTML]="learninguroki.description"></h1>

          <p class="text-white desc">It’s time to stop reading and start learning.</p>
          <div class="button2 mt-5 mb-5">
            <a href="#">Find out more <i aria-hidden="true" class="fa fa-arrow-right ml-2"></i></a>
            
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="picRow">
          <img src="../../../assets/img/girlbgimg.png">
        </div>
      </div>
    </div>
  </div>
</div>