.eWuFix {
    position: absolute;
    top: 0px;
    z-index: 15;
    height: 100%;
    left: 0px;
  }
  .sc-bdnxRM.sc-gtsrHT.flex-wypzvx-0.kVrxjL.gfuSqG.dCuMFe {
    display: flex !important;
}


  .fJoGkM {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .jIMAYG {
    position: absolute;
    top: 0px;
    z-index: 15;
    display: block;
    max-width: 120px;
    left: 0px;
    display: none;
  }
  .idUwgw {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: block;
  }
  .dBognp {
    position: relative;
    text-align: left;
    padding: 48px 16px 84px;
  }
  .dCuMFe {
    max-width: 1440px;
    position: relative;
    z-index: 20;
  } 
  .gfuSqG { 
    justify-content: space-between;
  }
  .paraclass{
    font-size: 18px;
  }
  .bg-gray-section {
    border-bottom-left-radius: 70% 20%;
    border-bottom-right-radius: 70% 20%;
    background: #f2f7fd;
    padding-bottom: 4rem;
  }
  .row.slider.mx-0 {
    background: #f2f7fd;
  }
 .mainPath{
   background-image: url('../../../assets/img/blueimge2.svg');
   background-repeat: no-repeat;
    height: 586px;
    background-size: 100%;
    align-items: end;
  display: flex;
 }
 .picRow img {
  width: 100%;
}
p.text-white.desc {
  font-size: 18px;
  margin-bottom: 4rem;
}
  
  .card {
    border-radius: 8px;
    padding: 0px !important;
}

 .tophedding {
    font-size: 40px;
    font-weight: 600;
}
  .dHsujo {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  .dHsujo {
    margin-right: 64px;
  }
  .ilhsMA {
    text-align: left;
  } 
  .ilhsMA {
    max-width: 688px;
    text-align: center;
  }
  .dCKOB {
    text-align: left;
    margin-left: 100px;
    margin-right: 64px;
  }
  .hvMsEH {
    font-size: 44px !important;
    line-height: 55px !important;
    font-weight: 600;
    text-align: left !important;
  }
  .kVrxjL {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
}
button.btn.btn-primary.fs {
  font-weight: 600;
  font-size: 17px;
}
.row.bg{
  background-image: url('../../../assets/img/how-it-works.svg');
  background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%; 
    margin: 0px 5rem;
    padding-bottom: 4rem;

}
.imgRow.mb-5 {
  background-image: url('../../../assets/img/bgBagraound.svg');
  background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    padding: 73px 6px;
}
  .sc-bdnxRM.hWPowz.text-sc-1b7rn1-0.jVmeNp {
    font-size: 18px;
  }
  .licNxS {
    width: 100%;
    max-width: 518px;
  }
  .sc-bdnxRM.sc-gtsrHT.flex-wypzvx-0.isnVtY.gfuSqG.jTPGr {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255 10 139);
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 8px;
    transition: background-color 200ms ease 0s;
    width: fit-content;
    font-size: 18px;
  }
  .iqRLeF {
    width: 56px;
    height: 56px;
  }
  .cPOaKU {
    box-sizing: border-box;
    margin: 12px 0px 0px;
    min-width: 0px;
    font-size: 16px;
    color: rgb(46, 64, 87);
    font-weight: 700;
    text-align: center;
  }
  .kfcOtH {
    flex: 1 1 0%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
  }
  .hXDKLS.logdsU.hXDKLS {
    min-width: 120px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    margin-bottom: 2rem;
}
  p.text-center.mt-5 {
    font-size: 18px;
  }
  .sc-hBMUJo.iBpDnX {
    background: #ff0a8b;
    text-align: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
  }
  
  .row.bg.p-3 {
    margin: 0px 8rem;
    border-radius: 130px;
    
    background: #f2f7fd;
  }
  .col-md-12.text-center h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.col-md-4.text-center h2 {
    font-size: 24px;
    font-weight: 600;
  }
  .col-md-4.text-center p {
    font-size: 18px;
  }
  .col-md-4.text-center {
    padding: 60px;
  }
  .row.align {
    align-items: center;
  }
  h1.headingTxt {
    font-size: 36px;
    font-weight: 600;
  }
  p.Desc {
    font-size: 18px; 
  }
  .imgRow img {
    width: 100%;
}
.layout h1 {
  font-size: 34px;
  font-weight: 600;
  color: rgb(46 64 87);
} 
.layout p {
  font-size: 18px;
  color: rgb(46 64 87);
}
.layout img {
  width: 190px;
}
.imgsrc img {
  width: 170px;
}
.rowPage {
  text-align: center;
}
.rowPage h1 {
  font-size: 16px;
  line-height: 24px;
}
.rowPage img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.rowPage p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(46 64 87);
}
.selectPage h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
  color: rgb(46 64 87);
}
.selectPage p {
  font-size: 18px;
  color: rgb(46 64 87);
}
.imgProfile img {
  width: 180px;
  height: 36px;
  object-fit: contain;
}
.button a {
  font-size: 18px;
  font-weight: 500;
  background: rgb(46 64 87);
  padding: 10px 50px 10px 20px;
  color: #fff;
  border-radius: 8px;
}
.button {
  position: relative;
}
svg.bi.bi-arrow-right {
  position: absolute;
  right: 44%;
  top: 3px;
  color: #fff;
}
.picRow h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #ffff;
}
.picRow p {
  color: rgb(46 64 87);
}
.button2 {
  position: relative;
}
svg.bi.bi-arrow-right {
  position: absolute;
  right: 38%;
  top: 3px;
  color: #2e4057;
}
.button2 a {
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  padding: 10px 50px 10px 20px;
  color:rgb(46 64 87);
  border-radius: 8px;
}

@media screen and (min-width: 375px) {


.sc-bdnxRM.sc-gtsrHT.flex-wypzvx-0.kVrxjL.gfuSqG.dCuMFe {
  display: block;
}


// .eWuFix {
//   top: -18px !important;
//   height: 50% !important;
//   left: 0px !important;
// }

.dCKOB {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.hvMsEH {
  font-size: 26px;
  line-height: 34px;
  color: rgb(46, 64, 87);

}
// .sc-bdnxRM.sc-gtsrHT.flex-wypzvx-0.isnVtY.gfuSqG.jTPGr.mt-4 {
//   margin-left: auto;
//   margin-right: auto;
// }
}
@media(max-width: 1024px){
  .mainPath  { 
    height: auto;
  }
  .container-fluid.ph {
    padding: 0px 10px !important;
    padding-left: 0rem !important;
  }
  .picRow h1 {
    font-size: 34px;
    line-height: 39px;
    font-weight: 600;
    color: #ffff;
    margin-top: 39px;
  }
}
@media(max-width: 991px){
  .col-md-4.text-center  {
    padding: 0px;
  }
  section.sc-kEqXSa.dBognp .container-fluid {
    padding: 0px 60px !important;
  }
  .container-fluid.ph {
    padding: 1px 0rem !important;
  }
  h1.desk {
    padding-top: 20px;
  }
  
  .button2.mt-5.mb-5 {
    margin-bottom: 0px !important;
  }  
  .mainPath  { 
    height: auto;
  }
  p.text-white.desc  {
    font-size: 18px;
    margin-bottom: 0rem;
  }
  .picRow h1 {
    font-size: 25px;
    line-height: 30px;
    margin-top: 0px;
  }
  .row.bg  { 
    margin: 0px 0rem;
  }
}
@media(max-width: 767px){
  .container-fluid.ph  {
    padding: 15px 3rem !important;
  }
  .sc-bdnxRM.sc-gtsrHT.flex-wypzvx-0.isnVtY.gfuSqG.jTPGr.mt-4 {
    display: block;
    margin: auto;
  }
  .desk{
  display: none;
  }
  .imgRow.mb-5 { 
    background-size: 100% 38%;
  }
  .picRow img{
    display: none;
  }
  .ph{
    display: block !important;
    text-align: center;
  }
  p.Desc {
    font-size: 14px;
    text-align: center;
  }
  svg.bi.bi-arrow-right  {
    position: absolute;
    right: 28%;
    top: 13px;
    color: #2e4057;
  }
  .button2  a  {
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    padding: 10px 50px 10px 20px;
    color: #2e4057;
    border-radius: 8px;
    width: 100% !important;
    max-width: 100%;
    display: block;
    text-align: center;
  }
  h1.ph.d-none {
    font-size: 25px !important;
    text-align: left;
    line-height: 1;
  }
  .col-md-4.pl-5.pt-4 {
    padding: 0px 18px !important;
    padding-top: 3rem !important;
    text-align: left !important;
  }
  .mainPath  { 
    height: auto;
    background-size: 100% 100%;
    align-items: center;
    display: flex;
  }
  .row.slider.mx-0 {
    margin-top: 3rem;
  }
  .tophedding {
    font-size: 27px;
    font-weight: 600;
  }
  h1.headingTxt  {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  }
  .container-fluid {
    padding: 0px 15px !important;
  }
  .col-md-12.text-center h1 { 
    line-height: 1.4;
  }
  .row.bg {
    margin: 0px 0rem; 
  }
  .hvMsEH  {
    margin-top: 1rem;
    font-size: 24px !important;
    line-height: 33px !important;
    text-align: center !important;
  }
  .sc-bdnxRM.hWPowz.text-sc-1b7rn1-0.jVmeNp  {
    font-size: 18px;
    text-align: center;
    color: #000;
    
  }
  .iqRLeF{
    width: 32px;
    height: 32px;
}
.sc-hBMUJo.iBpDnX {
  height: 32px;
  width: 32px;
  font-size: 20px;
}
}
@media(max-width: 375px){


.eWuFix {
  position: absolute;
  top: 0px;
  z-index: 15;
  height: 33%;
  left: 0px;
}

.dCKOB {
  text-align: center;
  margin-left: 0px;
  margin-right: -59px;
  position: relative;
  top: 8rem;
}
.hvMsEH {
  font-size: 19px;
  line-height: 25px;
  font-weight: 600;
}

.sc-bdnxRM.sc-gtsrHT.flex-wypzvx-0.isnVtY.gfuSqG.jTPGr.mt-4 {
  margin-left: auto;
  margin-right: auto;
}

}