<h2 mat-dialog-title>Languages</h2>
<hr />
<mat-dialog-content class="mat-typography">
        <mat-form-field appearance="fill">
                <mat-label>Select an option</mat-label>
                <mat-select disableRipple>
                  <mat-option value="1">Option 1</mat-option>
                  <mat-option value="2">Option 2</mat-option>
                  <mat-option value="3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
 <button class="btn btn-primary w-100">Add Language</button>
</mat-dialog-content>
 
